<html>
    <head>

    </head>
    <body>

       

        <script>
            var x = <%= cursor[0].hour %>;
            console.log(x);
            document.writeln(x);    
        </script>
    </body>
</html>