<%- include("header") -%>


<%- include("sidenav") -%>

<style>
    #hello{
        position: relative;
        left: 10%;
    }
</style>

<div class="col s12 ">
    <div id="inline-form" class="card card card-default scrollspy">
      <div class="card-content">

          <div class="row mt-0">
            <div>
                <center>
                <iframe id="hello"
                allow="microphone;"
                width="900"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/59f4ff7b-aa6a-4085-8198-665504d29f46">
                </iframe>
                </center>
        </div>
        </div>
    </div>
</div>



 <!-- %- include("theme-customizer") -% -->


<%- include("footer") -%>