<%- include("header") -%>


<%- include("sidenav") -%>


<div id="main">
      <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
          <!-- Search for small screen-->
          <div class="container">
            <div class="row">
              <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0">SPORTS</h5>
                <!-- <ol class="breadcrumbs mb-0">
                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Medias</a>
                  </li>
                  <li class="breadcrumb-item active">SPORTS
                  </li>
                </ol> -->
              </div>
              <!-- <div class="col s2 m6 l6"><a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a><ul class="dropdown-content" id="dropdown1" tabindex="0">
                  <li tabindex="0"><a class="grey-text text-darken-1" href="user-profile-page.html">Profile<span class="new badge red">2</span></a></li>
                  <li tabindex="0"><a class="grey-text text-darken-1" href="app-contacts.html">Contacts</a></li>
                  <li tabindex="0"><a class="grey-text text-darken-1" href="page-faq.html">FAQ</a></li>
                  <li class="divider" tabindex="-1"></li>
                  <li tabindex="0"><a class="grey-text text-darken-1" href="user-login.html">Logout</a></li>
                </ul>

              </div> -->
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="container">
            <div class="section">
  <div class="card">
    <div class="card-content">
      <p class="caption mb-0">Neither Victory nor Defeat, Sports are important to keep yourself fit.</p>
    </div>
  </div>

  <br/>
  <br/>

  <div class="row">
   
    <div class="col s12 m6 grid">
      <a href="/host-events/cricket">
      <figure class="effect-sadie">
        <img src="/images/gallery/cric.jfif" alt="img02">
        <figcaption>
          <h2>
            <span>Cricket</span>
          </h2>
          
        </figcaption>
      </figure>
      </a>
    </div>


    <div class="col s12 m6 grid">
         <a href="/host-events/football">
      <figure class="effect-sadie">
          <img src="/images/gallery/footy2.jfif" alt="img14" height="335px" width="500px">
        <figcaption>
            <h2>
                  <span>Football</span> 
                </h2>
        </figcaption>
      </figure></a>
    </div>
  </div>

<br/>
<br/>
  <div class="row">
 
   <div class="col s12 m6 grid">
      <a href="/host-events/hockey">
     <figure class="effect-sadie">
        <img src="/images/gallery/hockey3.jfif" alt="img02">
       <figcaption>
         <h2>
           <span>Hockey</span>
         </h2>
         
       </figcaption>
     </figure>
   </div>


   <div class="col s12 m6 grid">
         <a href="/host-events/basketball">
     <figure class="effect-sadie">
        <img src="/images/gallery/basketball.jpg" alt="img14" height="370px" width="495px">
       <figcaption>
         <h2>
           <span>Basketball</span>
         </h2>
       
       </figcaption>
     </figure>
   </div>
 </div>


 <br/>
 <br/>

 <div class="row">
  
   <div class="col s12 m6 grid">

     <figure class="effect-sadie">
         <a href="/host-events/badminton">
          <img src="/images/gallery/badminton.jpg" alt="img02">
          <figcaption>
         <h2>
           <span>Badminton</span>
         </h2>
         
       </figcaption>
     </figure>
   </div>


   <div class="col s12 m6 grid">
     <figure class="effect-sadie">
         <a href="/host-events/tennis">
          <img src="/images/gallery/tennis2.jfif" alt="img14" height="320px" width="500px">
       <figcaption>
         <h2>
           <span>Tennis</span>
         </h2>
         
       </figcaption>
     </figure>
   </div>
 </div>

<br/>
<br/>


 <div class="row">

   <div class="col s12 m6 grid">
     <figure class="effect-sadie">
         <a href="/host-events/tabletennis">
          <img src="/images/gallery/tt.jfif" alt="img02">
       <figcaption>
         <h2>Table
           <span> Tennis</span>
         </h2>
         
       </figcaption>
     </figure>
   </div>


   <div class="col s12 m6 grid">
     <figure class="effect-sadie">
         <a href="/host-events/squash">
          <img src="/images/gallery/squash2.jpg" alt="img14">
       <figcaption>
         <h2>
           <span>Squash</span>
         </h2>
       </figcaption>
     </figure>
   </div>
 </div>

 <br/>
 <br/>

  <div class="row">
   
    <div class="col s12 m6 grid">
      <figure class="effect-sadie">
          <a href="/host-events/volleyball">
            <img src="/images/gallery/volley.jfif" alt="img02">

        <figcaption>
          <h2>
            <span>Volleyball</span>
          </h2>
          
        </figcaption>
      </figure>
    </div>


    <div class="col s12 m6 grid">
      <figure class="effect-sadie">
          <a href="/host-events/chess">
            <img src="/images/gallery/chess.jfif" alt="img14">
        <figcaption>
          <h2>
            <span>Chess</span>
          </h2>
         
        </figcaption>
      </figure>
    </div>
  </div>

  <br/>
  <br/>

  <div class="row">

  <div class="col s12 m6 grid">
      <figure class="effect-sadie">
          <a href="/host-events/boxing">
            <img src="/images/gallery/box.jfif" alt="img14">
        <figcaption>
          <h2>
            <span>Boxing</span>
          </h2>
         
        </figcaption>
      </figure>
    </div>

    <div class="col s12 m6 grid">
        <figure class="effect-sadie">
            <a href="/host-events/futsal">
              <img src="/images/gallery/futsal.jfif" alt="img14">
          <figcaption>
            <h2>
              <span>Futsal</span>
            </h2>
           
          </figcaption>
        </figure>
    </div>

  </div>
  
  </div>
  </div>
</div>
</div>
</div>
<br/>
<br/>


 <!-- %- include("theme-customizer") -% -->


<%- include("footer") -%>
