<%- include("header") -%>


<%- include("sidenav") -%>




    <!-- BEGIN: Page Main-->
    <div id="main">
      <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="col s12">
          <div class="container">
          

                <div class="col s12 ">
                        <div id="inline-form" class="card card card-default scrollspy">
                          <div class="card-content">
                  
                               <div id="view-higlight-table" class="active">
                                <div class="row">
                                      <div class="col s6">
                                        <table class="highlight">
                                          <tbody>   
                                              <tr>                   
                                              <td>  
                                                <center> <p class="flow-text"><span class="purple-text text-darken-2" class="card-title bigtext">Sadguru</span></p>
                                                </center>
                                                  <br/>
                                                  <br/>
                                                  <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/495902163&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>


                                              </td>
                                            </tr>
                                              <tr>  
                                                  <td>
                                                    <center> <p class="flow-text"><span class="purple-text text-darken-2" class="card-title">Dandapani</span></p>
                                                    </center>
                                                      <br/>
                                                      <br/>
                                                      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/303266344&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                                  </tr>
                                                </td>
                                                <tr>                   
                                                    <td>  
                                                      <center> <p class="flow-text"><span class="purple-text text-darken-2" class="card-title bigtext">Sandeep Maheshwari</span></p>
                                                      </center>
                                                        <br/>
                                                        <br/>
                                                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/327090731&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                                    </td>
                                                </tr>
                                                
                                        </table>
                                      </div>
                                      <div class="col s6">
                                            <table class="highlight">
                                              <tbody>   
                                                  <tr>                   
                                                  <td>  
                                                    <center> <p class="flow-text"><span class="purple-text text-darken-2" class="card-title bigtext">Gary Vaynerchuck</span></p>
                                                    </center>
                                                      <br/>
                                                      <br/>
                                                      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/220653797&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                                  </td>
                                                </tr>
                                                  <tr>  
                                                      <td>
                                                        <center> <p class="flow-text"><span class="purple-text text-darken-2" class="card-title">Gary Vaynerchuck</span></p>
                                                        </center>
                                                          <br/>
                                                          <br/>
                                                          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206592874&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                                      </tr>
                                                    </td>
                                                    
                                                    
                                            </table>
                                          </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


 <!-- %- include("theme-customizer") -% -->


<%- include("footer") -%>
